<h1><font face="Comic Sans MS">Compiler</font></h1>
<div class="text-right">
    <button type="submit" class="btn btn-default" (click)="logout()" >logout</button>
</div>
<p></p>
<div>
    <textarea class="textarea" placeholder="Enter your code here" [(ngModel)]="code"  onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">
    </textarea>
    <div class="text-center">
        <button type="submit" class="btn btn-default" (click)="compile()">Compile</button>
    </div>
</div>
<div>
    <label class="out">Output: </label>
    <pre class="outtext" >{{result}}</pre>
</div> 